/node_modules
Documentacion/.obsidian/app.json
Documentacion/.obsidian/appearance.json
Documentacion/.obsidian/core-plugins.json
Documentacion/.obsidian/graph.json
Documentacion/.obsidian/workspace.json
Documentacion/.obsidian/community-plugins.json
Documentacion/.obsidian/plugins/gemini-assistant/manifest.json
Documentacion/.obsidian/types.json
Documentacion/.obsidian/plugins/obsidian-excalidraw-plugin/data.json
Documentacion/.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
Documentacion/.obsidian/plugins/obsidian-jira-issue/data.json
Documentacion/.obsidian/plugins/obsidian-jira-issue/manifest.json
