@import 'tailwindcss';
@import 'primereact/resources/themes/lara-light-blue/theme.css'
  layer(primereact);

@custom-variant dark (&:where(.dark, .dark *));


@theme{
  --color-primary: #0095BE;
  --color-primary-hover: #00627C;
  --color-secondary: #FF6B6B;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #C4C4C4;
  --color-whiteSecondary: rgba(250, 250, 250, 1);
  --color-whiteGray: rgba(250, 251, 252, 1);
  --font-monserrat: "Montserrat", "Poppins",
}


.custom-calendar.p-calendar-w-btn > button	{
  border: none;
  background:none;
  color: var(--color-black);
  position: absolute;
  right: 0;
}

.custom-calendar.p-calendar-w-btn > button .p-icon {
  font-size: 24px !important; 
  width: 24px !important; 
  height: 24px !important;
}

.p-password > div > span > svg {
  margin-top: 0;
}

input::placeholder, select::placeholder{
  font-size: 14px;
  color: #c4c4c4;
}

input{
  padding: 14px 28px;
  border-radius: 15px;
}

.blue-button {
  border-radius: 15px;
  background-color: #0095BE;
  transition: background-color 0.3s;
}

.blue-button:hover {
  background-color: #00627C;
}

/* Modal Validación email*/

.bg-gradient-to-b {  
  background-image: linear-gradient(to bottom, #ff3939 0%, #fed0d0 100%); 
} 

.special-input {  
  padding: 0;  
}

/* Estilos para el círculo del check */  
.checkmark {  
  width: 90px;  
  height: 90px;  
  border-radius: 50%;  
  background-color: var(--color-primary);  
  display:inline-block; 
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transition: transform 0.1s ease;   
}  

.checkmark.animate-check {  
  animation: grow-shrink 1.5s forwards;   
  
}  

.check-symbol {  
  position: absolute;  
  top: 50%;  
  left: 50%;  
  width: 25px;  
  height: 45px;  
  border: solid white; 
  border-width: 0 9px 9px 0;  
  transform: translate(-50%, -50%) rotate(45deg);  
}  

/* Animaciones para el check */  
.animate-check {  
  animation: grow 1.0s forwards, shrink 1.0s 1.0s forwards;   
}  

@keyframes grow-shrink {  
  0% {  
      transform: translate(-50%, -50%) scale(0);   
      opacity: 1;  
  }  
  50% {  
      transform: translate(-50%, -50%) scale(9);  
      opacity: 1;  
  }  
  100% {  
      transform: translate(-50%, -50%) scale(1);

      opacity: 0;  
  }  
}  

